# U.S. Oil and Gas Production Analysis
 Analyzing the [Kaggle Dataset](https://www.kaggle.com/djzurawski/us-oil-and-gas-production-june-2008-to-june-2018) with information about Oil and Gas production in the US from June 2008 to June 2018.

In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

Let's load the Gas production

In [7]:
df = pd.read_csv("data/U.S._natural_gas_production.csv")
df.head(5)

,Month,U.S.,Alaska,Arkansas,Kansas,Other States,Federal Offshore--Gulf of Mexico,Wyoming,West Virginia,Utah,Pennsylvania,Texas,Oklahoma,Ohio,North Dakota,New Mexico,Montana,Louisiana,Colorado,California
0,2008-06-01,70626,8875,1196,1024,2995,7339,6839,670,1198,540,21446,5241,224,243,3975,323,3989,3576,932
1,2008-07-01,71137,8375,1256,1034,3150,7468,6940,674,1200,512,21547,5256,220,243,4179,324,4008,3834,919
2,2008-08-01,70760,8739,1313,1033,3092,6868,6835,678,1277,529,21777,4896,220,249,4092,327,3896,4056,881
3,2008-09-01,63984,9221,1316,1032,2953,2100,6447,657,1276,542,20435,5224,224,260,4069,330,2960,4049,890
4,2008-10-01,69464,9674,1375,1026,3113,4368,6909,692,1241,543,21948,5126,236,267,4168,330,3718,3860,870

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Month                             121 non-null    object
 1   U.S.                              121 non-null    int64
 2   Alaska                            121 non-null    int64
 3   Arkansas                          121 non-null    int64
 4   Kansas                            121 non-null    int64
 5   Other States                      121 non-null    int64
 6   Federal Offshore--Gulf of Mexico  121 non-null    int64
 7   Wyoming                           121 non-null    int64
 8   West Virginia                     121 non-null    int64
 9   Utah                              121 non-null    int64
 10  Pennsylvania                      121 non-null    int64
 11  Texas                             121 non-null    int64
 12  Oklahoma                          121 non-null    int64
 13  Ohio                              121 non-null    int64
 14  North Dakota                      121 non-null    int64
 15  New Mexico                        121 non-null    int64
 16  Montana                           121 non-null    int64
 17  Louisiana                         121 non-null    int64
 18  Colorado                          121 non-null    int64
 19  California                        121 non-null    int64
dtypes: int64(19), object(1)
memory usage: 19.0+ KB

In [9]:
df.shape

(121, 20)

In [11]:
df.isnull().sum()

Month                               0
U.S.                                0
Alaska                              0
Arkansas                            0
Kansas                              0
Other States                        0
Federal Offshore--Gulf of Mexico    0
Wyoming                             0
West Virginia                       0
Utah                                0
Pennsylvania                        0
Texas                               0
Oklahoma                            0
Ohio                                0
North Dakota                        0
New Mexico                          0
Montana                             0
Louisiana                           0
Colorado                            0
California                          0
dtype: int64

In [13]:
df['Month'] = pd.to_datetime(df['Month'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Month                             121 non-null    datetime64[ns]
 1   U.S.                              121 non-null    int64
 2   Alaska                            121 non-null    int64
 3   Arkansas                          121 non-null    int64
 4   Kansas                            121 non-null    int64
 5   Other States                      121 non-null    int64
 6   Federal Offshore--Gulf of Mexico  121 non-null    int64
 7   Wyoming                           121 non-null    int64
 8   West Virginia                     121 non-null    int64
 9   Utah                              121 non-null    int64
 10  Pennsylvania                      121 non-null    int64
 11  Texas                             121 non-null    int64
 12  Oklahoma                          121 non-null    int64
 13  Ohio                              121 non-null    int64
 14  North Dakota                      121 non-null    int64
 15  New Mexico                        121 non-null    int64
 16  Montana                           121 non-null    int64
 17  Louisiana                         121 non-null    int64
 18  Colorado                          121 non-null    int64
 19  California                        121 non-null    int64
dtypes: datetime64[ns](1), int64(19)
memory usage: 19.0 KB

In [14]:
from nbresult import ChallengeResult

month_type = str(df['Month'].dtype)

result = ChallengeResult(
    'date',
    month_type=month_type
)

result.write()